<div class="wrapper">
  <div class="info">
    <span class="username">
      <span class="name">{{ audio.username }}</span>
      <img [src]="svg"/>
    </span>
    <span>{{ audio.createdAt | date : 'short' }}</span>
  </div>
  <hr/>
  <span class="text">{{ audio.text }}</span>
  <div class="action-row">
    <app-button
      class="requeue"
      (click)="requeue()"
      [ngClass]="{ disabled: playing }"
      [disabled]="playing"
    >
      Requeue
    </app-button>
    <app-button
      class="action"
      [ngClass]="{ disabled: skipped || finished }"
      [disabled]="skipped || finished"
      (click)="skip()"
    >
      {{ action }}
    </app-button>
  </div>
</div>
