<div class="header">
  <span>VStream Settings</span>
</div>
<div class="section">
  <app-auth/>
  <hr/>
  <app-settings/>
  <hr/>
  <div class="warning red">
    <span>If one of the many settings below have no custom message added, it will use the provided user message from the event.</span>
    <span>If you do not provide a custom message, or the event does not, or cannot, contain a user message the event will be ignored.</span>
  </div>
  <hr/>
  <app-followers/>
  <hr/>
  <app-uplifts/>
  <hr/>
  <app-subscription/>
  <hr/>
  <app-meteor-shower/>
</div>