<div class="header">
  <span>Watch Streak Settings</span>
</div>

<div class="warning">
  <span>Barebones for now. This feature keeps track of users watch streak.</span>
  <span>I hope to use the streaks as points and allow viewers to do something with them.</span>
</div>

<div class="section">
  <app-label-block>
    <div header>Grace period (days)</div>
    <div sub-text>How many live streams a user can miss before losing their streak.</div>
    <app-input [control]="settings.controls.gracePeriodDays" type="number" placeholder="Number of days"/>
  </app-label-block>

  <hr />

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
  >
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let user">{{ user.userName }}</td>
    </ng-container>
    <ng-container matColumnDef="currentStreak">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Current streak</th>
      <td mat-cell *matCellDef="let user">{{ user.currentStreak }}</td>
    </ng-container>
    <ng-container matColumnDef="highestStreak">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Highest streak</th>
      <td mat-cell *matCellDef="let user">{{ user.highestStreak }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>

  <mat-paginator [length]="(userStreaks$ | async)?.length ?? 0" />
</div>


