:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.user-streak-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .user-streak {
    display: flex;
    gap: 10px;
  }
}

.mat-mdc-table, .mat-mdc-paginator {
  background-color: var(--background);
  border: 2px solid var(--orange);
  border-radius: 6px;
  overflow: hidden;
}
