<div class="header">
  <span>User Permissions</span>
</div>

<app-label-block>
  <div header>All Users</div>
  <div sub-text>Everyone can run these commands.</div>
  <app-toggle [control]="formGroup.controls.allUsers"/>
</app-label-block>

<app-label-block>
  <div header>Mods</div>
  <div sub-text>Allows your channel mods to run commands.</div>
  <app-toggle [control]="formGroup.controls.mods"/>
</app-label-block>

<app-label-block>
  <div header>Paying Users</div>
  <div sub-text>Twitch subs / YouTube members.</div>
  <app-toggle [control]="formGroup.controls.payingMembers"/>
</app-label-block>
