:host {
  border-radius: 6px;
}

button {
  background-color: var(--white-5);
  border: unset;
  color: var(--text);
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 6px;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;

  &:hover {
    background-color: var(--white-10);
  }

  &:active {
    background-color: var(--white-20);
  }
}

.disabled {
  cursor: not-allowed;
  filter: brightness(0.6);
  &:hover {
    background-color: var(--sidebar);
  }
}
