:host {
  border-radius: 6px;
}

button {
  background-color: var(--white-5);
  border: unset;
  color: var(--text);
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 6px;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: fit-content;

  &:hover {
    background-color: var(--white-10);
  }

  &:active {
    background-color: var(--white-20);
  }
}

.sm {
  font-size: 12px;
  padding: 10px 20px;
}

.disabled {
  cursor: not-allowed;
  filter: brightness(0.6);
  &:hover {
    background-color: var(--sidebar);
  }
}

.active {
  color: #121212 !important;
  background-color: var(--blue) !important;
}
