<div class="section">
  <div class="header">
    <span>Amazon Polly</span>
  </div>
  <div class="warning">
    <span>
      Amazon Polly requires a little bit of elbow grease to get started.
    </span>
    <span>It requires creating an account through Amazon's AWS.</span>
    <span>Video soon to come...</span>
  </div>
  <div class="sub-header">
    <label>Region</label>
    <p>Select your Amazon Region.</p>
    <mat-form-field>
      <mat-select placeholder="Select a region" [formControl]="regionControl">
        <mat-option *ngFor="let region of regions" [value]="region">
          {{ region }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="sub-header">
    <label>Pool ID</label>
    <p>This is your super secret ID.</p>
    <app-input
      placeholder="Place your Pool Id here."
      [control]="poolIdControl"
      type="password"
    >
    </app-input>
  </div>
  <div class="sub-header">
    <label>Language</label>
    <p>Select the desired spoken language.</p>
    <mat-form-field>
      <mat-select
        placeholder="Select a language"
        [formControl]="languageControl"
      >
        <mat-option
          *ngFor="let language of languageOptions()"
          [value]="language"
        >
          {{ language }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="sub-header">
    <label>TTS Voice</label>
    <p>Select which voice will speak.</p>
    <mat-form-field>
      <mat-select placeholder="Select a voice" [formControl]="voiceControl">
        <mat-option
          *ngFor="let voice of languageVoiceOptions()"
          [value]="voice.value"
        >
          {{ voice.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
