:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.warning {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  border-radius: 6px;
  border: 2px solid var(--bright-purple);
}
