:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0.5rem 0;
}

.twitch-status {
  font-size: 20px;
  color: var(--red);
}

.valid {
  color: var(--green);
}

.twitch-auth {
  color: var(--header);
  padding: 4px 8px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: var(--sidebar);
  }
}
