<div class="header">
  <span> Twitch Settings </span>
</div>
<div class="section">
  <div class="sub-header">
    <label>Connection Status</label>
    <div class="action-row">
      <span class="twitch-status" [ngClass]="{ valid: isTokenValid }">
        {{ connectionStatus }}
      </span>
      <a
        target="_blank"
        [href]="loginUrl"
        class="twitch-auth"
        *ngIf="!isTokenValid"
      >
        authorize
      </a>
      <div class="twitch-auth" *ngIf="isTokenValid" (click)="signOut()">
        sign-out
      </div>
    </div>
    <p>{{ connectionMessage }}</p>
  </div>
</div>
<div class="section">
  <div class="sub-header" *ngIf="redeems.length">
    <label>Redeem</label>
    <p>This redeem will trigger TTS with user input.</p>
    <mat-form-field>
      <mat-select placeholder="Select a redeem option">
        <mat-option *ngFor="let redeem of redeems" [value]="redeem.id">
          {{ redeem.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="sub-header">
    <label>Minimum bits</label>
    <p>The amount of bits required to trigger TTS</p>
    <app-input placeholder="Set min bits" [control]="bitsControl"></app-input>
  </div>

  <div class="sub-header">
    <label>Bits character limit</label>
    <p>The max allowed characters we'll play for you!</p>
    <app-input
      placeholder="Set max char limit"
      type="number"
      [control]="bitsCharControl"
    ></app-input>
  </div>
</div>
