table {
  table-layout: auto;
  width: 100%;
}

tr td {
  &:first-child {
    color: var(--orange);
    font-size: 16px;
    font-family: monospace;
  }

  &:last-child {
    color: var(--text-inactive);
  }
}
