<div class="header">
  <span>Overlays for alerts</span>
  <app-button class="right" (click)="downloadBrowserSource()">
    Download browser source
  </app-button>
</div>

<hr/>

<app-label-block>
  <div header>Create new widget</div>
  <div sub-text>Create a new widget for the VStream browser source</div>
  <app-button class="right" (click)="createWidget()">
    Create
  </app-button>
</app-label-block>

<app-label-block>
  <div header>Preview overlays</div>
  <div sub-text>See your overlays without downloading.</div>
  <app-button class="right" (click)="preview()">
    Preview
  </app-button>
</app-label-block>

<app-label-block>
  <div header>Test overlays</div>
  <div sub-text>Test all the overlays...</div>
  <app-button class="right" (click)="test()">
    Test
  </app-button>
</app-label-block>

<hr/>

@for (widget of widgets$ | async; track widget.id) {
  <app-edit-widget [widget]="widget"/>
} @empty {
  <div class="empty">
    No widgets!
  </div>
}