<div class="header">
  <span>Settings</span>
</div>

<app-label-block>
  <div header>Random Message Chance</div>
  <div sub-text>The chance that a message from chat will be read.</div>
  <div sub-text>If GPT is enabled, it will hand the message to your pet.</div>
  <app-input
    placeholder="Enter a number between 0 - 100"
    type="number"
    [control]="randomChance"
  />
</app-label-block>

<app-label-block>
  <div header><span class="yellow">Discord</span> Going Live Announcement</div>
  <div sub-text>When you go live, TTS Helper will announce it for you.</div>
  <div sub-text>Place the webhook URL here.</div>
  <app-input
    placeholder="Your Discord Webhook"
    type="text"
    [control]="webhookControl"
  />
</app-label-block>