<div class="header">
  <span>Main Settings</span>
</div>
<div class="section">
  <div class="sub-header">
    <label>Play TTS locally.</label>
    <p>These show up in the history tab.</p>
    <div class="action-row flex-wrap">
      <app-input [control]="ttsControl" placeholder="Enter something to say." />
      <app-button (click)="speak()" [disabled]="isDisabled">Send</app-button>
    </div>
  </div>
  <div class="header">
    <span>TTS Settings</span>
  </div>
  <div class="sub-header">
    <label>Select TTS service</label>
    <p>Decide which TTS service to use.</p>
    <div class="action-row flex-wrap">
      <app-button
        (click)="selectTts('stream-elements')"
        [style]="selectedTts.value === 'stream-elements' ? 'active' : 'primary'"
      >
        StreamElements
      </app-button>
      <app-button
        (click)="selectTts('amazon-polly')"
        [style]="selectedTts.value === 'amazon-polly' ? 'active' : 'primary'"
      >
        Amazon Polly
      </app-button>
      <app-button
        (click)="selectTts('windows')"
        class="disabled"
        [style]="selectedTts.value === 'windows' ? 'active' : 'primary'"
      >
        Windows
      </app-button>
      <app-button
        (click)="selectTts('tiktok')"
        class="disabled"
        [style]="selectedTts.value === 'tiktok' ? 'active' : 'primary'"
      >
        TikTok
      </app-button>
      <app-button
        (click)="selectTts('tts-monster')"
        class="disabled"
        [style]="selectedTts.value === 'tts-monster' ? 'active' : 'primary'"
      >
        TTS Monster
      </app-button>
    </div>
  </div>
</div>
<app-streamelement-tts
  *ngIf="selectedTts.value === 'stream-elements'"
></app-streamelement-tts>
<app-amazon-polly
  *ngIf="selectedTts.value === 'amazon-polly'"
></app-amazon-polly>
<app-tts-monster *ngIf="selectedTts.value === 'tts-monster'"></app-tts-monster>
<app-windows *ngIf="selectedTts.value === 'windows'"></app-windows>
