:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-row {
  display: flex;
  gap: 10px;
  max-width: 600px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.disabled {
  pointer-events: none;
  filter: brightness(0.5);
}
