.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding: 10px 0;
  min-height: unset;
}

.mat-mdc-select-placeholder {
  color: var(--text-inactive);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-radius: 6px;
  background-color: var(--text-inactive);
}

mat-option,
.mdc-menu-surface.mat-mdc-select-panel {
  background-color: var(--text-inactive);
  min-height: 20px;
}
