:host {
  display: flex;
  width: 250px;
  height: 100%;
  min-width: 250px;
  max-width: 250px;

  color: white;
  font-size: 18px;

  .icon {
    display: flex;
    margin: 2rem 0;
    width: 120px;
    padding-left: 10px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }

  hr {
    width: 100%;
    margin: 15px 0;
    color: var(--text-inactive);
    filter: opacity(0.5);
  }
}

.home-download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  // Download SVG
  & > img {
    height: 42px;
    width: 42px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 6px;
    
    &:hover {
      background-color: var(--white-5);
    }
  }
}

.nav-groups {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
  padding: 5px 10px;
  
  .support {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    
    a {
      transition: color 0.2s;
    }
    
    a:hover {
      transition: color 0.2s;
      color: var(--blue);
    }
  }
  
  .version {
    font-size: 14px;
  }
}

.nav-header {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  padding-left: 10px;
}

.nav-link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--header);
  filter: brightness(0.9);
  font-size: 16px;

  padding: 2px 10px;
  border-left: 2px solid transparent;

  transition: all 0.2s;
  &:hover {
    color: var(--text);
    border-left: 2px solid var(--text-inactive);
  }

  .tts-icon {
    width: 16px;
    height: 16px;
    font-size: 17px;
    display: flex;
    align-items: center;
  }
}

.new-link {
  &:after {
    content: 'New!';
    color: var(--blue);
    margin-left: auto;
  }
}

.active {
  filter: brightness(1);
  color: var(--text);
  border-left: 2px solid var(--blue);
}

.disabled {
  pointer-events: none;
  filter: brightness(0.4);
}

.connection {
  margin-left: auto;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: var(--red);
}

.connected {
  background-color: var(--green);
}