<div class="wrapper">
  <div class="home-download">
    <a [routerLink]="['home']" (click)="close()">
      <img alt="tts-helper-logo" priority="true" class="icon" ngSrc="assets/tts-helper.svg" height="27" width="107"/>
    </a>
    @if (newVersion) {
      <img alt="download-button" (click)="update()" src="assets/download.svg" />
    }
  </div>
  <div class="nav-groups">
    <div class="nav-group">
      <span class="nav-header">My Connections</span>
      <a
        class="nav-link"
        [routerLink]="['twitch']"
        routerLinkActive="active"
        (click)="close()"
      >
        <img alt="twitch-logo" ngSrc="assets/twitch.svg" height="22" width="21"/>
        <span>Twitch</span>
        <div class="connection" [ngClass]="{'connected': isTwitchTokenValid$ | async }"></div>
      </a>
      <a
        class="nav-link"
        [routerLink]="['vtubestudio']"
        routerLinkActive="active"
        (click)="close()"
      >
        <img alt="youtube-logo" ngSrc="assets/vts_logo_transparent.png" height="25" width="25"/>
        <span>VTubeStudio</span>
        <div class="connection" [ngClass]="{'connected': isVTSConnected$ | async }"></div>
      </a>
    </div>
    <div class="nav-group">
      <span class="nav-header">Text to Speech</span>
      <a
        class="nav-link"
        [routerLink]="['settings']"
        routerLinkActive="active"
        (click)="close()"
      >
        <mat-icon class="tts-icon">settings</mat-icon>
        <span>Settings</span>
      </a>
      <a
        class="nav-link"
        [routerLink]="['chat-gpt']"
        routerLinkActive="active"
        (click)="close()"
      >
        <mat-icon class="tts-icon">smart_toy</mat-icon>
        <span>ChatGPT</span>
      </a>
      <a
        class="nav-link"
        [routerLink]="['chat-settings']"
        routerLinkActive="active"
        (click)="close()"
      >
        <mat-icon class="tts-icon">chat</mat-icon>
        <span>Chat Settings</span>
      </a>
      <a
        class="nav-link"
        [routerLink]="['moderation']"
        routerLinkActive="active"
        (click)="close()"
      >
        <mat-icon class="tts-icon">construction</mat-icon>
        <span>Moderation</span>
      </a>
      <a
        class="nav-link"
        [routerLink]="['history']"
        routerLinkActive="active"
        (click)="close()"
      >
        <img alt="history-logo" class="tts-icon" ngSrc="assets/history.svg" height="17" width="17"/>
        <span>History</span>
      </a>
      <a
        class="nav-link"
        [routerLink]="['queue']"
        routerLinkActive="active"
        (click)="close()"
      >
        <img alt="queue-logo" class="tts-icon" ngSrc="assets/clock.svg" height="17" width="17"/>
        <span>Queue</span>
      </a>
    </div>
    <div class="nav-group">
      <span class="nav-header">Speech to Text</span>
      <a
        class="nav-link"
        [routerLink]="['azure-settings']"
        routerLinkActive="active"
        (click)="close()"
      >
        <mat-icon class="tts-icon">campaign</mat-icon>
        <span>Settings</span>
      </a>
    </div>
    <div class="nav-group">
      <span class="nav-header">Misc</span>
      <a
        class="nav-link"
        [routerLink]="['logs']"
        routerLinkActive="active"
        (click)="close()"
      >
        <mat-icon class="tts-icon">description</mat-icon>
        <span>Logs</span>
      </a>
      <a
        class="nav-link"
        [routerLink]="['tools']"
        routerLinkActive="active"
        (click)="close()"
      >
        <mat-icon class="tts-icon">construction</mat-icon>
        <span>Tools</span>
      </a>
    </div>
  </div>
  <div class="version">v{{ appVersion }}</div>
</div>
