:host {
  display: flex;
  width: 250px;
  height: 100%;
  min-width: 250px;
  max-width: 250px;

  color: white;
  font-size: 18px;

  .icon {
    display: flex;
    margin: 2rem 0;
    width: 120px;
    padding-left: 10px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }

  hr {
    width: 100%;
    margin: 15px 0;
    color: var(--text-inactive);
    filter: opacity(0.5);
  }
}

.nav-groups {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.nav-header {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  padding-left: 10px;
}

.nav-link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--header);
  font-size: 16px;

  padding: 2px 10px;
  border-left: 2px solid transparent;

  transition: all 0.2s;
  &:hover {
    color: var(--text);
    border-left: 2px solid var(--text-inactive);
  }

  img {
    width: 20px;
  }

  .tts-icon {
    width: 16px;
    height: 16px;
    font-size: 17px;
    display: flex;
    align-items: center;
  }
}

.active {
  color: var(--text);
}
