:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.hotkey, .actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hotkey {
  justify-content: space-between;
}