<div class="header">
  <span>Azure Speech to Text</span>
</div>
<div class="section">
  <div class="warning">
    <span>Azure STT is designed to bridge the gap between you and your ChatGPT "pet".</span>
    <span>By enabling this service, anytime you activate STT via the hotkey your voice will be streamed to Azure STT.</span>
    <span>The stream automatically ends after 1 second of silence.</span>
    <span>If Azure can detect words from the recording, the resulting text will be sent to OpenAI to generate a response for TTS.</span>
  </div>

  <app-label-block>
    <div header>Enable STT</div>
    <div sub-text>If enabled, you can use STT with the set hotkey.</div>
    <app-toggle [control]="azureSettings.controls.enabled"/>
  </app-label-block>

  @if (azureSettings.controls.enabled.value) {
    <div class="warning">
      <span>As of right now this feature only supports using your systems DEFAULT input device. (Microphone)</span>
      <span>There is also no way to currently increase the 1 second timer before ending the stream.</span>
    </div>
    
    <app-label-block>
      <div header>Speech Key</div>
      <div sub-text>This can be found on your Azure dashboard for STT.</div>
      <app-input
        placeholder="Place your Speech Key here."
        [control]="azureSettings.controls.subscriptionKey"
        type="password"
      />
    </app-label-block>

    <app-label-block>
      <div header>Azure Region</div>
      <div sub-text>Select your Azure Region.</div>
      <app-selector
        placeholder="Select a region"
        [control]="azureSettings.controls.region"
        [options]="regions"
      />
    </app-label-block>

    <app-label-block>
      <div header>Your spoken language</div>
      <div sub-text>Select the language you'll speak in.</div>
      <app-selector
        placeholder="Select a language"
        [control]="azureSettings.controls.language"
        [options]="languages"
      />
    </app-label-block>

    <div class="warning red">
      <span>Using this global hotkey will consume the input, thus if the hotkey is supposed to trigger something else, this will prevent it.</span>
    </div>
    
    <app-label-block>
      <div header>Global hotkey</div>
      <div sub-text>This is a global hotkey used for activating speech to text.</div>
      <div class="hotkey">
        @if (hotkey) {
          <app-display-label>
            {{ hotkey }}
          </app-display-label>
        } @else {
          <app-display-label>
            No hotkey set
          </app-display-label>
        }

        <div class="actions">
          @if (hotkey) {
            <app-button (click)="clearHotKey()">Clear hotkey</app-button>
          }
          <app-button
            (click)="toggleHotkey()"
            [style]="isSettingHotKey ? 'active' : 'primary'"
          >
            {{ isSettingHotKey ? 'Save hotkey' : 'Set hotkey' }}
          </app-button>
        </div>
      </div>
    </app-label-block>
  }
</div>
