<div class="header">
  <span>Device Settings</span>
</div>

<app-label-block>
  <div header>Select Audio Device</div>
  <div sub-text>Select where you want sound to come out of.</div>
  <app-selector
    placeholder="Select a device"
    [control]="selectedDevice"
    [options]="deviceOptions"
  />
</app-label-block>

<app-label-block>
  <div header>Output Volume</div>
  <div sub-text>Set the output volume to the selected device.</div>
  <mat-slider [min]="0" [max]="100" [step]="1" discrete color="primary">
    <input matSliderThumb [formControl]="volume"/>
  </mat-slider>
</app-label-block>

<app-label-block>
  <div header>Delay between audio</div>
  <div sub-text>The "silence" in seconds between audio playing.</div>
  <app-input
    placeholder="Delay in seconds"
    [control]="audioDelay"
    type="number"
  />
</app-label-block>