<div mat-dialog-title class="header">
  <span>Widget</span>
</div>

<mat-dialog-content>
  <div class="section">
    <app-label-block>
      <div header>Trigger event</div>
      <div sub-text>Which event to listen to for this widget.</div>
      <app-selector [control]="settings.controls.trigger" [options]="eventOptions" placeholder="Select an event" />
    </app-label-block>

    <app-label-block>
      <div header>Width</div>
      <div sub-text>Width of the widget in pixels</div>
      <app-input class="right" [control]="settings.controls.width" type="number"/>
    </app-label-block>

    <app-label-block>
      <div header>Height</div>
      <div sub-text>Height of the widget in pixels</div>
      <app-input class="right" [control]="settings.controls.height" type="number" />
    </app-label-block>

    <app-label-block>
      <div header>X Position</div>
      <div sub-text>The x position (in pixels) of the widget in the source.</div>
      <app-input class="right" [control]="settings.controls.xPosition" type="number" />
    </app-label-block>

    <app-label-block>
      <div header>Y Position</div>
      <div sub-text>The y position (in pixels) of the widget in the source.</div>
      <app-input class="right" [control]="settings.controls.yPosition" type="number" />
    </app-label-block>

    <app-label-block>
      <div header>File</div>
      <div sub-text>Want to show an image or a gif? Load it!</div>
      <app-button class="right" (click)="fileInput.click()">Choose File</app-button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" />
    </app-label-block>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <app-button>Cancel</app-button>
  <app-button [style]="'active'" (click)="saveWidget()">Save</app-button>
</mat-dialog-actions>