<div class="header">
  <span>Donation Settings</span>
</div>

<div class="sub-header">
  <label>Handle bits</label>
  <p>Enable or disable TTS events for bits.</p>
  <app-toggle [control]="enabled" />
</div>

<ng-container *ngIf="enabled.value">
  <div class="sub-header">
    <label>Exact bits amount</label>
    <p>Only trigger TTS on exact min bits amount.</p>
    <app-toggle [control]="exact" />
  </div>

  <div class="sub-header">
    <label>Minimum bits</label>
    <p>The amount of bits required to trigger TTS</p>
    <app-input
      placeholder="Set min bits"
      type="number"
      [control]="minBits"
    ></app-input>
    <mat-error *ngIf="minBits.hasError('min')">
      Minimum bits allowed is 0.
    </mat-error>
    <mat-error *ngIf="minBits.hasError('pattern')">
      Minimum bits must be a whole number.
    </mat-error>
  </div>

  <div class="sub-header">
    <label>Bits character limit</label>
    <p>The max allowed characters we'll play for you!</p>
    <app-input
      placeholder="Set max char limit"
      type="number"
      [control]="bitsCharLimit"
    ></app-input>
    <mat-error *ngIf="bitsCharLimit.hasError('min')">
      Minimum character limit allowed is 0.
    </mat-error>
    <mat-error *ngIf="bitsCharLimit.hasError('pattern')">
      Character limit must be a whole number.
    </mat-error>
  </div>
</ng-container>
