<div class="header">
  <span>Donation Settings</span>
</div>

<app-label-block>
  <div header>Handle bits</div>
  <div sub-text>Enable or disable TTS events for bits.</div>
  <app-toggle class="right" [control]="enabled"/>
</app-label-block>

@if (enabled.value) {
  <app-label-block>
    <div header>Exact bits amount</div>
    <div sub-text>Only trigger TTS on exact min bits amount.</div>
    <app-toggle class="right" [control]="exact"/>
  </app-label-block>

  <app-label-block>
    <div header>Minimum bits</div>
    <div sub-text>The amount of bits required to trigger TTS</div>
    <app-input placeholder="Set min bits" type="number" [control]="minBits"/>
    <mat-error>
      @if (minBits.hasError('min')) {
        Minimum bits allowed is 0.
      } @else if (minBits.hasError('pattern')) {
        Minimum bits must be a whole number.
      }
    </mat-error>
  </app-label-block>

  <app-label-block>
    <div header>Bits character limit</div>
    <div sub-text>The max allowed characters we'll play for you!</div>
    <app-input placeholder="Set max char limit" type="number" [control]="bitsCharLimit"/>
    <mat-error>
      @if (bitsCharLimit.hasError('min')) {
        Minimum character limit allowed is 0.
      } @else if (bitsCharLimit.hasError('pattern')) {
        Character limit must be a whole number.
      }
    </mat-error>
  </app-label-block>
}
