<div class="header">
  <span>App Settings</span>
</div>
<div class="section">
  <div class="header">
    <span>App Info</span>
  </div>
  
  <div class="empty">
    <span><strong>App Version:</strong> <span>v{{ appVersion$ | async }}</span></span>
    <span><strong>Tauri Version:</strong> <span>v{{ tauriVersion$ | async }}</span></span>
  </div>
  
  <hr />
  
  <div class="header">
    <span>Account Settings</span>
  </div>
  
  <div class="warning orange">
    <span>To be determined.</span>
  </div>
  
  <hr />
  
  <div class="header">
    <span>Connections</span>
  </div>
  
  <app-label-block>
    <div header>Show Twitch</div>
    <div sub-text>Show or hide this feature.</div>
    <app-toggle class="right" [control]="settings.controls.twitchEnabled" />
  </app-label-block>

  <app-label-block>
    <div header>Show YouTube</div>
    <div sub-text>Show or hide this feature.</div>
    <app-toggle class="right" [control]="settings.controls.youtubeEnabled" />
  </app-label-block>

  <app-label-block>
    <div header>Show VTubeStudio</div>
    <div sub-text>Show or hide this feature.</div>
    <app-toggle class="right" [control]="settings.controls.vtubestudioEnabled" />
  </app-label-block>
  
  <hr />
  
</div>