:host {
  display: flex;
  height: 100%;
  width: 100%;

  .container {
    display: flex;
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    transition: scale 0.3s;
  }
  
  .global-banner {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--background);
    
    .banner-content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      gap: 20px;
      width: 100%;
      background-color: var(--blue-5);
      border-bottom: 2px solid var(--blue);
    }
  }

  .app-logo {
    margin: 0;
  }

  .toolbar {
    display: flex;
    align-items: center;
  }

  .openedMobile {
    scale: 1.05;
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

mat-toolbar {
  background-color: var(--sidebar) !important;
}

mat-sidenav {
  background-color: var(--sidebar);
}

mat-sidenav-content,
mat-sidenav-container {
  background-color: var(--background);
}

mat-sidenav-container {
  width: 100%;
}

mat-sidenav-content {
  width: 100%;
}

// Idk why, mat-sidenav is defaulting the margin to 110px until the user resizes the app.
// The current sidenav size is 250, so just enforce it when not in "mobile" view.
.content-wide-view {
  margin-left: 250px !important;
}

mat-sidenav {
  border-right: 0;
  width: auto;
}
