:host {
  display: flex;
  height: 100%;
  width: 100%;

  .container {
    display: flex;
    height: 100%;
  }

  .content {
    display: flex;
  }

  .app-logo {
    margin: 0;
  }

  .toolbar {
    display: flex;
    align-items: center;
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

mat-toolbar {
  background-color: var(--sidebar) !important;
}

mat-sidenav {
  background-color: var(--sidebar);
}

mat-sidenav-content,
mat-sidenav-container {
  background-color: var(--background);
}

mat-sidenav-container {
  width: 100%;
}

mat-sidenav-content {
  width: 100%;
}

mat-sidenav {
  border-right: 0px;
}
