:host {
  width: 100%;
}

input {
  padding: 12px;
  border-radius: 6px;
  min-width: 250px;
  width: 100%;

  outline: unset;
  color: var(--text);
  background-color: var(--sidebar);
  border: 1px solid var(--header);
  border-color: var(--text);

  &::placeholder {
    color: var(--text-inactive);
  }
}
