:host {
  width: 100%;
}

input {
  // To align with buttons, this is 11px instead of 12 because of the 1px outline.
  padding: 11px;
  border-radius: 6px;
  min-width: 250px;
  width: 100%;

  outline: unset;
  color: var(--text);
  background-color: var(--white-5);
  border: unset;
  border-color: var(--text);
  border: 1px solid transparent;
  transition: all 0.2s;

  &:focus {
    border: 1px solid var(--blue);
  }

  &::placeholder {
    color: var(--text-inactive);
  }
}

.error, .error:focus {
  border: 1px solid var(--red);
}