:host {
  width: 100%;
}

input {
  padding: 12px;
  border-radius: 6px;
  min-width: 250px;
  width: 100%;

  outline: unset;
  color: var(--text);
  background-color: var(--sidebar);
  border-color: var(--text);
  border-style: unset;

  &::placeholder {
    color: var(--text-inactive);
  }
}

input[type=number] {
  
}