<div class="wrapper">
  <div class="info">
    <span class="username">{{ audit.username }} <img [src]="svg" /></span>
    <span class="time">{{ audit.createdAt | date : 'medium' }}</span>
  </div>
  <hr />
  <span class="text">{{ audit.text }}</span>
  <div class="action-row">
    <app-button
      class="requeue"
      (click)="requeue()"
      [ngClass]="{ disabled: playing }"
      [disabled]="playing"
    >
      Requeue
    </app-button>
    <app-button
      class="action"
      [ngClass]="{ disabled: skipped || finished }"
      [disabled]="skipped || finished"
      (click)="skip()"
    >
      {{ action }}
    </app-button>
  </div>
</div>
