:host {
  border-radius: 6px;
  padding: 15px;
  border: 2px solid var(--sidebar);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;

  .info {
    display: flex;
    align-items: center;
    width: 100%;
  }

  hr {
    width: 100%;
    border-color: var(--text-inactive);
  }

  .time {
    margin-left: auto;
  }

  .text {
    color: var(--text);
    margin: 10px 0;
    word-wrap: break-word;
    word-break: break-word;
  }

  .username {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      height: 26px;
    }
  }

  .action-row {
    display: flex;
    gap: 10px;

    .requeue {
      flex: 2;
    }

    .action {
      flex: 2;
    }
  }
}
