.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 1rem;
}

.playing {
  border: 2px solid var(--green);
}

hr {
  width: 100%;
}

.sub-header {
  margin-bottom: 0;
}

.empty {
  padding: 55px 15px;
  height: unset;
}
