<div class="wrapper">
  <app-label-block>
    <div header>Currently playing</div>
    @if(currentlyPlaying$ | async; as current) {
      <app-audio-item [audio]="current" class="playing"/>
    } @else {
      <div class="empty">Nothing currently playing.</div>
    }
  </app-label-block>
  
  <hr/>
  
  @for(audio of audioItems$ | async; track audio.id) {
    <app-audio-item [audio]="audio" [class.queued]="audio.state === AudioState.queued"/>
  } @empty {
    <div class="empty">Nothing redeemed.</div>
  }
</div>
