<div class="header">
  <span>SuperChat Settings</span>
</div>

<app-label-block>
  <div header class="enabled-text" [class.enabled]="settings.controls.enabled.value">Enable TTS</div>
  <div sub-text>Enable or disable TTS events for superchats.</div>
  <app-toggle class="right" [control]="settings.controls.enabled"/>
</app-label-block>

<app-label-block>
  <div header>Custom response</div>
  <div sub-text>Customize what your TTS says when a user sends a superchat!</div>
  <app-variable-table [variables]="variables">
    <span header>Use variables to reference info related to the superchats.</span>
    <span example-text>Thanks <span class="var">username</span> for the $<span class="var">amount</span> superchat!</span>
    <span result-text>Thanks Panku for the $5 superchat!</span>
  </app-variable-table>
  <textarea
    placeholder="Thanks {username} for ${amount} superchat!"
    [formControl]="settings.controls.customMessage"
  ></textarea>
</app-label-block>