<hr>

<div class="header">
  <span>AI Personality</span>
</div>

<div class="sub-header">
  <label>Your name</label>
  <p>How your want ChatGPT to refer to you.</p>
  <app-input [control]="formGroup.controls.streamersIdentity" type="text" placeholder="Panku"/>
</div>

<div class="sub-header">
  <label>ChatGPT's name</label>
  <p>You can make ChatGPT change how it refers to itself.</p>
  <app-input [control]="formGroup.controls.modelsIdentity" type="text" placeholder="Alphyx"/>
</div>

<div class="sub-header">
  <label>What should ChatGPT act like?</label>
  <p>A short description, example "The embodiment of chat".</p>
  <app-input [control]="formGroup.controls.modelsCoreIdentity" type="text" placeholder="An annoyance"/>
</div>

<div class="sub-header">
  <label>How does ChatGPT see you?</label>
  <p>Create a "connection" between you and ChatGPT.</p>
  <textarea
    placeholder="[ChatGPT name] thinks I'm stinky, silly and dumb!"
    [formControl]="formGroup.controls.streamerModelRelation"
  ></textarea>
</div>

<div class="sub-header">
  <label>Give ChatGPT a background</label>
  <p>Give ChatGPT a background / history / story. Customize it! Be as detailed as possible.</p>
  <textarea
    placeholder="[ChatGPT's name] is a goofy sidekick that loves to play tricks."
    [formControl]="formGroup.controls.modelsBackground"
  ></textarea>
</div>
