<div class="header">
  <span>UpLifts Settings</span>
</div>

<app-label-block>
  <div header>Enable normal TTS</div>
  <div sub-text>If enabled, TTS will read your custom message.</div>
  <app-toggle
    [control]="settings.controls.enabled"
  />
</app-label-block>

<app-label-block>
  <div header>Enable normal ChatGPT</div>
  <div sub-text>If enabled, ChatGPT will receive the custom message instead.</div>
  <app-toggle
    [control]="settings.controls.enabledGpt"
  />
</app-label-block>

<app-variable-table [variables]="variables">
  <span header>Use variables to reference info related to the UpLift</span>
  <span example-text>Thanks <span class="var">username</span> for the <span class="var">formatted</span> UpLift!</span>
  <span result-text>Thanks Panku for the $10 UpLift!</span>
</app-variable-table>

<app-label-block>
  <div header>Custom response</div>
  <div sub-text>This text will be used for TTS if enabled.</div>
  <textarea
    [formControl]="settings.controls.customMessage"
    placeholder="Thanks {username} for the {formatted} uppies!"
  ></textarea>
</app-label-block>