:host {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--blue-20);
}

.command-header {
  all: unset;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}

.command-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  hr {
    margin: 10px 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.yellow {
  color: var(--yellow);
}