<div class="header">
  <span>Subscription Settings</span>
</div>

<div class="sub-header">
  <label>Handle subscriptions</label>
  <p>Enable or disable TTS for all sub events.</p>
  <app-toggle [control]="enabled"> Enabled </app-toggle>
</div>

<div class="section" *ngIf="enabled.value">
  <div class="sub-header">
    <label>Subs character limit</label>
    <p>The max allowed characters we'll play for a sub event!</p>
    <app-input
      placeholder="Enter a character limit"
      type="number"
      [control]="charLimit"
    ></app-input>
    <mat-error *ngIf="charLimit.hasError('min')">
      Minimum characters allowed is 0.
    </mat-error>
    <mat-error *ngIf="charLimit.hasError('pattern')">
      Character limit must be a whole number.
    </mat-error>
  </div>

  <div class="sub-header">
    <label>Gift subs message</label>
    <p>Customize what your TTS says when a user gifts subs!</p>
    <div class="warning">
      <app-gift-variables></app-gift-variables>
      <div class="example">
        Example:
        <span class="example-text">
          Thanks
          <span class="var">username</span>
          for the
          <span class="var">amount</span>
          subs!
        </span>
        Will turn into:
        <i class="example-text">Thanks Mei for the 2 subs!</i>
      </div>
    </div>
    <div class="var-buttons"></div>
    <textarea
      placeholder="Thanks {username} for the {amount} subs!"
      [formControl]="giftMessage"
    ></textarea>
  </div>
</div>
