<div class="header">
  <span>Chat Command Settings</span>
</div>

<div class="section">
  <div class="warning">
    <span>Chat commands are good for Twitch streamers that haven't reached affiliate yet.</span>
    <span>Use the permission toggles to customize who can use the chat commands.</span>
  </div>
  
  <div class="header">
    <span>General Chat Settings</span>
  </div>
  
  <app-label-block>
    <div header>Enabled</div>
    <div sub-text>If enabled, users can use this command to use normal TTS.</div>
    <app-toggle [control]="generalChat.controls.enabled"/>
  </app-label-block>

  <app-label-block>
    <div header>Command</div>
    <div sub-text>The command that triggers the TTS.</div>
    <app-input [control]="generalChat.controls.command" type="text" placeholder="!say"/>
  </app-label-block>

  <app-label-block>
    <div header>Cooldown</div>
    <div sub-text>How often this command can be ran in seconds.</div>
    <app-input [control]="generalChat.controls.cooldown" type="number"/>
  </app-label-block>

  <app-label-block>
    <div header>Character Limit</div>
    <div sub-text>How many characters that can be used in the chat message.</div>
    <app-input [control]="generalChat.controls.charLimit" type="number"/>
  </app-label-block>
  
  <app-user-perms [formGroup]="generalPermissions"/>

  <hr>

  <div class="header">
    <span>ChatGPT Chat Settings</span>
  </div>
  
  <app-label-block>
    <div header>Enabled</div>
    <div sub-text>If enabled, users can use this command to generate ChatGPT TTS.</div>
    <app-toggle [control]="gptChat.controls.enabled"/>
  </app-label-block>

  <app-label-block>
    <div header>Command</div>
    <div sub-text>Will prompt GPT to generate a response.</div>
    <app-input [control]="gptChat.controls.command" type="text" placeholder="!ask"/>
  </app-label-block>

  <app-label-block>
    <div header>Cooldown</div>
    <div sub-text>How often this command can be ran in seconds.</div>
    <app-input [control]="gptChat.controls.cooldown" type="number"/>
  </app-label-block>

  <app-user-perms [formGroup]="gptPermissions"/>
</div>