<div class="header">
  <span>Moderation Settings</span>
</div>
<div class="section">
  <app-label-block>
    <div header>Banned words</div>
    <div sub-text class="yellow">Separate words with a comma.</div>
    <div sub-text>Messages that contain any of these will be ignored entirely.</div>
    <app-toggle class="right" [control]="hideBannedWords" text="Blur" />
    <textarea
      [formControl]="bannedWords"
      class="banned-words hide"
      [class.show]="!hideBannedWords.value"
    ></textarea>
  </app-label-block>

  <hr />

  <div class="warning">
    <span>Filtered text is different from "words".</span>
    <span>You can filter phrases, words, etc.</span>
    <span>If you filtered "cat" and a request was "I love cats" it would play "I love s"</span>
    <span class="yellow">Messages are NOT ignored, only filtered.</span>
  </div>

  <app-label-block>
    <div header>Filtered text</div>
    <div sub-text class="yellow">Separate filtered text with a comma.</div>
    <app-toggle class="right" [control]="hideFilteredWords" text="Blur" />
    <textarea
      [formControl]="filteredWords"
      class="banned-words hide"
      [class.show]="!hideFilteredWords.value"
    ></textarea>
  </app-label-block>

  <hr />

  <app-label-block>
    <div header>User block/allow list for TTS</div>
    <div sub-text class="yellow">Put usernames separated by commas.</div>
    <div sub-text>Toggle to block or allow!</div>
    <app-toggle
      class="right" [control]="userListSettings.controls.shouldBlockUser"
      [text]="userListSettings.controls.shouldBlockUser.value ? 'Block' : 'Allow'"
    />
    <textarea
      [formControl]="userListSettings.controls.usernames"
    ></textarea>
  </app-label-block>
</div>
