<div class="header">
  <span>Moderation Settings</span>
</div>
<div class="section">
  <app-label-block>
    <div header>Banned words</div>
    <div sub-text>Put words separated by commas.</div>
    <div sub-text>Messages that contain any of these will be ignored entirely.</div>
    <app-toggle [control]="hideBannedWords" text="Blur" />
    <textarea
      [formControl]="bannedWords"
      class="banned-words hide"
      [ngClass]="{ show: !hideBannedWords.value }"
    ></textarea>
  </app-label-block>
</div>
