<div class="wrapper">
  <div class="sub-header">
    <span>Currently playing</span>
    <app-history-item
      *ngIf="currentlyPlaying() as playing; else quiet"
      [audit]="playing"
      class="playing"
    ></app-history-item>
    <ng-template #quiet>
      <div class="empty">Nothing currently playing.</div>
    </ng-template>
    <hr />
  </div>
  <div class="empty" *ngIf="!items().length">No history! Get to chatting.</div>
  <app-history-item
    *ngFor="let item of items()"
    [audit]="item"
  ></app-history-item>
</div>
