<div class="wrapper">
  <div class="sub-header">
    <span>Currently playing</span>
    <app-history-item
      *ngIf="(currentlyPlaying$ | async) as current; else quiet"
      [audio]="current"
      class="playing"
    />
    <ng-template #quiet>
      <div class="empty">Nothing currently playing.</div>
    </ng-template>
    <hr/>
  </div>
  <div class="empty" *ngIf="!(audioItems$ | async)?.length">No history! Get to chatting.</div>
  <app-history-item
    *ngFor="let audio of (audioItems$ | async) ?? []; trackBy: trackBy"
    [audio]="audio"
    [ngClass]="{ queued: audio.state === AudioState.queued }"
  />
</div>
