<div class="wrapper">
  <div class="sub-header">
    <span>Currently playing</span>
    <app-history-item
      *ngIf="currentlyPlaying; else quiet"
      [audit]="currentlyPlaying"
      (itemSkipped)="skipped($event)"
      class="playing"
    />
    <ng-template #quiet>
      <div class="empty">Nothing currently playing.</div>
    </ng-template>
    <hr/>
  </div>
  <div class="empty" *ngIf="!items.length">No history! Get to chatting.</div>
  <app-history-item
    *ngFor="let item of items; trackBy: trackBy"
    [audit]="item"
    (itemSkipped)="skipped($event)"
  />
</div>
