<div class="header">
  <span>Main Settings</span>
</div>
<div class="section">
  <div class="sub-header">
    <label>Play TTS locally.</label>
    <p>These show up in the history tab.</p>
    <form class="action-row flex-wrap" (submit)="speak()">
      <app-input [control]="ttsControl" placeholder="Enter something to say." />
      <app-button type="submit" [disabled]="isDisabled">Send</app-button>
    </form>
  </div>
  <div class="header">
    <span>Moderation</span>
  </div>
  <app-moderation></app-moderation>
  <div class="header">
    <span>TTS Settings</span>
  </div>
  <div class="warning">
    <span>Selecting TTS is WIP.</span>
  </div>
  <div class="sub-header">
    <label>Select TTS service</label>
    <p>Decide which TTS service to use.</p>
    <div class="action-row flex-wrap">
      <app-button
        (click)="selectTts('stream-elements')"
        [ngClass]="{ active: selectedTts.value === 'stream-elements' }"
      >
        StreamElements
      </app-button>
      <app-button
        (click)="selectTts('tts-monster')"
        [ngClass]="{ active: selectedTts.value === 'tts-monster' }"
        >TTS Monster</app-button
      >
    </div>
  </div>
</div>
<app-streamelement-tts
  *ngIf="selectedTts.value === 'stream-elements'"
></app-streamelement-tts>
<app-tts-monster *ngIf="selectedTts.value === 'tts-monster'"></app-tts-monster>
