<div class="header">
  <span>Main Settings</span>
</div>
<div class="section">
  <div class="sub-header">
    <label>Play TTS locally.</label>
    <p>These show up in the history tab.</p>
    <form class="action-row flex-wrap" (submit)="speak()">
      <app-input [control]="ttsControl" placeholder="Enter something to say." />
      <app-button type="submit" [disabled]="isDisabled">Send</app-button>
    </form>
  </div>
  <div class="header">
    <span>Moderation</span>
  </div>
  <app-moderation></app-moderation>
  <div class="header">
    <span>TTS Settings</span>
  </div>
  <div class="warning">
    <span>Selecting TTS is WIP.</span>
  </div>
  <app-tts-router></app-tts-router>
</div>
<router-outlet></router-outlet>