<ng-container [formGroup]="redeemsGroup">
  <div class="sub-header" *ngIf="redeems.length">
    <label>Redeem</label>
    <p>This redeem will trigger TTS with user input.</p>
    <mat-form-field>
      <mat-select placeholder="Select a redeem option" formControlName="redeem">
        <mat-option *ngFor="let redeem of redeems" [value]="redeem.id">
          {{ redeem.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="sub-header" *ngIf="redeems.length">
    <label>Redeem character limit</label>
    <p>The max allowed characters we'll play for the redeem.</p>
    <app-input
      placeholder="Set min bits"
      type="number"
      [control]="redeemCharLimitControl"
    ></app-input>
  </div>
</ng-container>
