<ng-container *ngIf="redeems.length">
  <div class="header">
    <span>Redeem Settings</span>
  </div>

  <div class="sub-header">
    <label>Handle redeems</label>
    <p>Enable or disable TTS events for redeems.</p>
    <app-toggle [control]="enabled" />
  </div>

  <ng-container *ngIf="enabled.value">
    <div class="sub-header">
      <label>Redeem</label>
      <p>This redeem will trigger TTS with user input.</p>
      <mat-form-field>
        <mat-select placeholder="Select a redeem option" [formControl]="redeem">
          <mat-option *ngFor="let redeem of redeems" [value]="redeem.id">
            {{ redeem.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="sub-header">
      <label>Redeem character limit</label>
      <p>The max allowed characters we'll play for the redeem.</p>
      <app-input
        placeholder="Set min bits"
        type="number"
        [control]="redeemCharLimitControl"
      ></app-input>
      <mat-error *ngIf="redeemCharLimitControl.hasError('min')">
        Minimum characters allowed is 0.
      </mat-error>
      <mat-error *ngIf="redeemCharLimitControl.hasError('pattern')">
        Character limit must be a whole number.
      </mat-error>
    </div>
  </ng-container>
</ng-container>
