<ng-container *ngIf="redeems.length; else empty">
  <div class="header">
    <span>Redeem Settings</span>
  </div>

  <div class="sub-header">
    <label>Handle redeems</label>
    <p>Enable or disable TTS events for redeems.</p>
    <app-toggle [control]="redeemInfo.controls.enabled" />
  </div>

  <ng-container *ngIf="redeemInfo.controls.enabled.value">
    <div class="sub-header">
      <label>Redeem</label>
      <p>This redeem will trigger TTS with user input.</p>
      <mat-form-field>
        <mat-select placeholder="Select a redeem option" [formControl]="redeemInfo.controls.redeem">
          <mat-option *ngFor="let redeem of redeems" [value]="redeem.id">
            {{ redeem.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="gptEnabled()" class="sub-header">
      <label>ChatGPT Redeem</label>
      <p>This redeem will trigger a ChatGPT response.</p>
      <mat-form-field>
        <mat-select placeholder="Select a redeem option" [formControl]="redeemInfo.controls.gptRedeem">
          <mat-option *ngFor="let redeem of redeems" [value]="redeem.id">
            {{ redeem.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="sub-header">
      <label>Redeem character limit</label>
      <p>The max allowed characters we'll play for the redeem.</p>
      <app-input
        placeholder="Set min bits"
        type="number"
        [control]="redeemInfo.controls.redeemCharacterLimit"
      ></app-input>
      <mat-error *ngIf="redeemInfo.controls.redeemCharacterLimit.hasError('min')">
        Minimum characters allowed is 0.
      </mat-error>
      <mat-error *ngIf="redeemInfo.controls.redeemCharacterLimit.hasError('pattern')">
        Character limit must be a whole number.
      </mat-error>
    </div>
  </ng-container>
</ng-container>
<ng-template #empty>
  <div class="warning">
    <span>Detected no Twitch redeems.</span>
    <span>If you're a Twitch affiliate with redeems, try signing out and signing in again.</span>
    <span>If this continues to be an issue please join the <a href="https://discord.gg/jNDjNVeuJp" target="_blank">support server</a>.</span>
  </div>
</ng-template>
