<div class="header">
  <span>Logs for debugging</span>
</div>
<div class="section">
  <div class="logs-text">
    @for (log of logs$ | async; track log.createdAt) {
      <div class="log">
        <span class="origin">[{{ log.createdAt | date: 'mediumTime' }}] [{{ log.origin }} : <span [class]="log.level">{{ log.level }}</span> ]</span> - {{ log.message }}
      </div>
    } @empty {
      Logs are empty.
    }
  </div>
  <div class="action-row">
    <app-button (click)="downloadLog()">Download</app-button>
    <app-button [style]="'danger'" (click)="deleteLogs()">Delete all logs</app-button>
  </div>
</div>