<app-accordion>
  <div accordion-header>{{ customUserVoice().username }}</div>

  <div class="header">
    <span>Basics</span>
    <app-button [style]="'danger'" (click)="delete()">
      Delete
    </app-button>
  </div>

  <app-label-block>
    <div header><span class="yellow">Username</span></div>
    <div sub-text>The username of the user...</div>
    <app-input
      placeholder="Panku"
      type="text"
      [control]="settings.controls.username"
    />
  </app-label-block>

  <app-label-block>
    <div header>TTS Service</div>
    <div sub-text>Which TTS service to use.</div>
    <app-selector
      [control]="settings.controls.ttsType" [options]="ttsOptions" placeholder="Select a TTS type"
    />
  </app-label-block>

  <app-tts-selector
    [languageControl]="settings.controls.language"
    [voiceControl]="settings.controls.voice"
    [voices]="voices()"
  />
</app-accordion>
