$md-dark-purple: (
    text: white,
    50 : #ece0ee,
    100 : #ceb3d6,
    200 : #ae80ba,
    300 : #8e4d9e,
    400 : #75268a,
    500 : #5d0075,
    600 : #55006d,
    700 : #4b0062,
    800 : #410058,
    900 : #300045,
    A100 : #cd7aff,
    A200 : #b947ff,
    A400 : #a614ff,
    A700 : #9b00f9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-light-purple: (
    50 : #efecff,
    100 : #d7d0ff,
    200 : #bdb0ff,
    300 : #a390ff,
    400 : #8f79ff,
    500 : #7b61ff,
    600 : #7359ff,
    700 : #684fff,
    800 : #5e45ff,
    900 : #4b33ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e1deff,
    A700 : #cbc4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

