<mat-tab-group animationDuration="0ms">
  <mat-tab label="Basics">
    <app-label-block>
      <div header>Enable</div>
      <div sub-text>If enabled, users can then invoke this command.</div>
      <app-toggle class="right" [control]="settings.controls.enabled"/>
    </app-label-block>

    <app-label-block>
      <div header>Command</div>
      <div sub-text>The command!</div>
      <app-input class="right" [control]="settings.controls.command" placeholder="!command" type="text"/>
    </app-label-block>
  </mat-tab>
  <mat-tab label="Permissions">
    <app-label-block>
      <div header>All Users</div>
      <div sub-text>Everyone can run this command.</div>
      <app-toggle class="right" [control]="permissions.controls.allUsers"/>
    </app-label-block>

    <app-label-block>
      <div header>Mods</div>
      <div sub-text>Allows your channel mods to run this command.</div>
      <app-toggle class="right" [control]="permissions.controls.mods"/>
    </app-label-block>

    <app-label-block>
      <div header>Paying Users</div>
      <div sub-text>Anyone with an active subscription to you.</div>
      <app-toggle class="right" [control]="permissions.controls.payingMembers"/>
    </app-label-block>
  </mat-tab>
  <mat-tab label="Settings">
    @if (settings.controls.resetOnLaunch.value) {
      <div class="warning orange">
        <span>Because this app is a browser, refreshing with CTRL + R will count as a launch.</span>
      </div>
    }
    
    <app-label-block>
      <div header>Reset on launch</div>
      <div sub-text>If the value should be reset when TTS Helper launches.</div>
      <app-toggle class="right" [control]="settings.controls.resetOnLaunch"/>
    </app-label-block>
    
    <app-label-block>
      <div header>Cooldown</div>
      <div sub-text>The cooldown of the command in seconds.</div>
      <app-input class="right" [control]="settings.controls.cooldown" type="number"/>
    </app-label-block>

    <app-label-block>
      <div header>Amount</div>
      <div sub-text>How much to add to the value of the command.</div>
      <app-input class="right" [control]="settings.controls.amount" type="number"/>
    </app-label-block>

    <app-label-block>
      <div header>Current Value</div>
      <div sub-text>The current value of the counter.</div>
      <app-input class="right" [control]="settings.controls.value" type="number"/>
    </app-label-block>
    
    <app-variable-table [variables]="variables">
      <span header>Use variables to reference info related to the counter</span>
      <span example-text>I've counted <span class="var">value</span> times!</span>
      <span result-text>I've counted 3 times!</span>
    </app-variable-table>

    <app-label-block>
      <div header>Command Response</div>
      <div sub-text>This is what the command responds with.</div>
      <textarea
        [formControl]="settings.controls.response"
        placeholder="I've counted {value} times!"
      ></textarea>
    </app-label-block>
  </mat-tab>
  <mat-tab label="Chains">
    <app-chain-command [command]="command" />
  </mat-tab>
</mat-tab-group>
